<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.ItemMapper">


    <select id="getElecBill" resultType="com.generator.domain.vo.ElecBillVO">
        SELECT *
        FROM item h
        WHERE h.category = '拉杆箱'
          AND id IN (
                     '317578',
                     '317580',
                     '546872',
                     '561178',
                     '577967',
                     '584382',
                     '584387',
                     '584391',
                     '584392',
                     '584394',
                     '613357',
                     '613358',
                     '613359',
                     '613360',
                     '651742',
                     '722667',
                     '722681',
                     '753999',
                     '754013',
                     '754015'
            )
        ORDER BY id
    </select>


</mapper>
